/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Navbar CSS */
.container{
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid black; */
}

.navbar{
    height: 18vh;
    /* padding-top: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-part{
    display: flex;
    justify-content: baseline;
    align-items: center;
}


/* Logo */
#R{
    color: #4e45d5;
    font-size: 7rem;
    text-shadow: 0 0 .1em red;
    font-weight: 900;
    user-select: none;
    cursor:help;
}

h1{
    font-size: 3rem;
    margin-left: -.5rem;
}

.nav-items{
    /* border: 1px solid black; */
    display: flex;
    gap: 4rem;
    /* padding: 2em 1em; */
    
}

.nav-items div a{
    padding: 1rem;
    color: black;
    /* font-size: larger; */
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight:400;
}

.nav-items div:hover{
    font-weight: 600;
    transition: 1s;
}

.fixed-navbar{
    /* position: sticky; */
    top: 0;
    z-index: 100;
    background-color:transparent;
}

/* Hero Section CSS */
.hero-section{
    position: relative;
    margin-top: 4rem auto;
    /* border: 2px solid black; */
    display: flex;
    padding: 0 1rem;
    padding-bottom: 8rem;
    /* gap: 1rem; */
    justify-content: space-between;
    height: 82vh;
}

.hero-left{
    display: flex;
    flex-direction: column;
    /* gap: 2.6rem;  */
    margin-top: 5rem;
    margin-left: 3rem;
    justify-content: space-evenly; 
}

.name{
    color: #343d68;
    font-size: 3rem;
    font-family: system-ui;
    font-weight: 500;
}

.role{
    font-size: 4rem;
    font-weight: 800;
    color: #4e45d5;
}

.hero-para{
    font-size: 2rem; 
    line-height: 1.3em;
    font-family: system-ui;
}

.btn{
    color: white;
    padding: 1.5rem 2rem;
    background-color: #e84949;
    font-size: 1.2rem; 
    box-shadow: 5px 5px 7px 0px #0000003f;
    cursor: pointer;   
    position: relative; 
    z-index: 1;
    width:10rem;
    border: none;
}

.btn::before{
    content: "";
    background-color: white;
    border: 2px solid #e84949;
    border: 1px solid #4e45d5;

    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    color: black;
    transition: 1s;
}

/* Watermark  */
.faded-txt{
    position: absolute; 
    left: 3.5%;
    bottom: 0%;
    user-select:none;
    font-size: 5rem;
    color: rgb(231,231,231);
    font-weight: bold;
    transition: all .5s;
 }

/* Hero Section Right Side >>> */
.hero-right{
    position: relative;
    right: 10rem;
    top: 5rem;
    /* border: 2px solid black; */
    position: relative;
} 

.user-image{
    padding: .7rem;
    filter: grayscale(1);
    /* transition: all 1s; */
    animation: scaleImage 7s ease infinite;
}

.user-image img{
    border: 1px solid blue;
    z-index: -12;
    animation: imageRound 7s ease-in-out infinite;
}

#dp{
    width: 13rem;
}

/* Animations Keyframes Declarations  Of Hero-Section*/

@keyframes scaleImage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    
    50%{
        filter: grayscale(1.1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
        border-radius: 50%;
    }

    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}

@keyframes imageRound {
    50%{
        border-radius: 50%;
    }
}


/* Project Section CSS >>>*/
.project-section{
    position: relative;
    background-color: rgb(231,231,231);
}

.project-header{
    text-align: center;
    color: orangered;
    font-size: 5rem;
    padding-top: .5rem;
    font-family: system-ui;
}

.project-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 5rem;
    align-items: center;
}

.project-card{
    position: relative;
    width: 60%;
    height: 33rem;
    display: flex;
    border: 1px solid orangered;
    background-image: url("img/projects/project1.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px #1f1f1f;
    /* overflow: hidden; */
}

/* For Black Tint On Project Card */
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    transform-origin: left;
    z-index: 0;
    /* z-index: -9; */
}

/* For Red-Bluish Gradient Effect While Hovering */
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background:linear-gradient(45deg,#343d68, #343d68be, #343d687c); */
    background:linear-gradient(to right,rgba(255, 0, 0, 0.089), rgba(0, 0, 255, 0.082));
    transform: scaleX(0);
    transform-origin:left;
    transition: all .5s;
    z-index: 1;

}

.project-card:hover::before{
    transform: scaleX(1);
    cursor: pointer;
}

.project-content{
    position: absolute;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.project-number{
    position: absolute;
    font-size: 10rem;
    color: white;
    z-index: 12;
    font-weight: 600;
    font-family: system-ui;
    display: none;
    transition: all .5s;
}

.project-number-right{
    right: -2.2rem;
    top: -2.2rem;
}

.project-number-left{
    left: -2.2rem;
    top: -2.2rem;
}

.project-card:hover .project-number{
    display: block;
}

#project1{
    margin-right: 10rem;
    background-image: url("img/projects/project1.png");
}
#project2{
    margin-left: 10rem;
    background-image: url("img/projects/project2.png");
}
#project3{
    margin-right: 10rem;
    background-image: url("img/projects/project3.png");
}
#project4{
    margin-left: 10rem;
    background-image: url("img/projects/project4.png");
}

.project-content{
    position: absolute;
    z-index: 12;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 2rem;
    bottom: 1rem;
    gap: 1rem;
    transition: all .3s;
}

.project-card:hover .project-content{
    transform: scale(1.03);
}

.project-content-left{
    left: 5%;
}

.project-content-right{
    right: -25%;
}

.project-skills-container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: .3rem;
}

.project-skill{
    width: 3rem;
}

.project-heading{
    font-size: 3rem;
    line-height: 3rem;
    color: orange;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.project-desc{
    width: 66%;
    font-size: 1.3rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-grp{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-project{
    padding: 1rem 0rem;
    width: 8rem;
}

.btn-grp a {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.btn-grp a:hover{
    color: yellow;
}

